body {
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color: white;
}

h2 {
    color: #ff700f;
}